.checkout-container {
    position: relative;
    width: 350px;
    margin: 4rem auto;
    height: 500px;
    border-radius: 8px;
    padding: 40px;
    box-sizing: border-box;
    background: #fde7e1;
    box-shadow: 14px 14px 20px #f5dbcf, -14px -14px 20px white;
}


.checkout-title {
    text-align: center;
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #fd8c6c;
    letter-spacing: 1px;
}

.checkout-form {
    text-align: left;
    margin-top: 30px;
}

.checkout-container label,
.checkout-container input,
.checkout-container button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.login-container label {
    margin-bottom: 4px;
    color: rgb(230, 217, 217);
    margin: 15px 0 5px 5px;
    
}

.checkout-container input::placeholder {
    color: rgb(122, 113, 113);
}

.checkout-container input {
    background: #ecf0f3;
    margin: 15px 0 0 0;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: inset 6px 6px 6px #fad6c9, inset -6px -6px 6px white;
}

.checkout-container button {
    color: white;
    margin-top: 20px;
    background: #f9a791;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #ebd9cc, -6px -6px 6px white;
    transition: 0.5s;
}

.checkout-container button:hover {
    box-shadow: none;
}
